<!DOCTYPE html>
<html>
  <head>
    <%= stylesheet 'main', 'bootstrap' %>
    <%= javascript  'jquery2', 'jquery.countdown', 'jquery_ujs', 'bootstrap', 'main' %>
  <title>Web</title>
    <%= favicon %>
  </head>
  <body>
    <%= yield %>
  </body>
</html>
